<h1><%= @user.name %></h1>

<p>Email: <%= mail_to @user.email, @user.email, subject: 'Hi' %></p>

<% if @user.cart_items.present? %>
	<h2>My Cart</h2>
	<%= render 'carts/cart', user: @user %>
<% end %>

<h2>Beers I'm Selling</h2>

<ul>
<% @user.beers.each do |beer| %>
	<li>
		<%= beer.name %>: <%= number_to_currency(beer.price) %>
		| <%= link_to 'Edit', edit_beer_url(beer) %>
		| <%= link_to 'Destroy', beer_url(beer), method: :delete, confirm: 'Are you sure you would like to delete this beer?' %>	
	</li>
<% end %>
</ul>