<%= render 'shared/error_messages', item: @order %>

<%= form_for @order do |f| %>
	<% if @order.express_token.blank? %>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
		<%= f.label :card_type %>
		<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
		<%= f.label :card_number %>
		<%= f.text_field :card_number %>
		<%= f.label :card_verification %>
		<%= f.text_field :card_verification %>
		<%= f.label :card_expires_on %>
		<%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
	<% else %>
		<p>To Do: Display order confirmation details.</p>
	<% end %>
	<%= f.submit 'Place Order' %>
<% end %>