<% if @current_user.present? && @current_user.cart_items.present? %>
	<h1>My Cart</h1>
	<%= render 'carts/cart', user: @current_user %>
<% end %>

<h1>Beers for Sale</h1>

<ul>
<% @beers.each do |beer| %>
	<li>
		<%= link_to beer.name, beer_url(beer) %>: <%= number_to_currency(beer.price) %>
		| <%= link_to 'Edit', edit_beer_url(beer) %>
		| <%= link_to 'Destroy', beer_url(beer), method: :delete, confirm: 'Are you sure you would like to delete this beer?' %>
		| <%= link_to 'Add to Cart', cart_items_url(beer_id: beer.id), method: :post %>
	</li>
<% end %>
</ul>