<!DOCTYPE html>
<html>
	<head>
	  <title>BeerOn Store</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<h1><%= link_to 'BeerOn Store', root_url %></h1>
			<ul>
				<li><%= link_to 'Home', root_url %></li>
				<li><%= link_to 'Add your Beer', new_beer_url %></li>
			</ul>
		</header>
		<div class='my_content'>
			<%= yield %>
		</div>
	</body>
</html>
